//____________________________
// ベースのスタイル
//____________________________
html,
body {
  background-color: var(--bg-body);
  font-size: 62.5%;
  overflow: hidden;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  span,
  b,
  strong,
  em,
  i,
  u {
    color: var(--text);
    font-size: 1.6rem;
  }
}
