// ---------- テーマによって変わらないカラーコード ----------
$const-black: #000000;
$const-white: #ffffff;

:root {
  // ---------- 共通 ----------
  --white: #ffffff;
  --black: #000000;
  --header-height-pc: 9.2rem;

  // ---------- ダークモード ----------
  --border: #f2f2f2;
  --bg: #222d35;
  --bg-body: #141c23;
  --placeholder: #f2f2f2;
  --primary: #38a576;
  --text: var(--white);
  --sp-header-height: 6.6rem;
}

// ---------- ライトモード ----------
[data-theme='light'] {
  --border: #2f3e46;
  --bg: #eeeeee;
  --bg-body: #ffffff;
  --placeholder: #cccccc;
  --text: var(--black);
  --primary: #38a576;
}
