:root {
  // ---------- 共通 ----------
  --white: #ffffff;
  --black: #000000;
  --header-height-pc: 9.2rem;
  --header-height-sp: 6.6rem;
}

// ---------- ライトモード ----------
:root[data-theme-mode="light"] {
  --border: #2f3e46;
  --bg: #eeeeee;
  --bg-body : #ffffff;
  --placeholder: #cccccc;
  --text: var(--black);
  --primary: #38a576;
}

// ---------- ダークモード ----------
:root[data-theme-mode="dark"] {
  --border : #f2f2f2;
  --bg : #222d35;
  --bg-body : #141c23;
  --placeholder : #f2f2f2;
  --text : var(--white);
  --primary : #38a576;
}
