// ---------- テーマによって変わらないカラーコード ----------
$const-black: #000000;
$const-white: #ffffff;

:root {
  // ---------- 共通 ----------
  --white: #ffffff;
  --black: #000000;

  // ---------- ダークモード ----------
  --border: #f2f2f2;
  --bg: #222d35;
  --bg-body: #141c23;
  --placeholder: #f2f2f2;
  --primary: #38a576;
  --text: var(--white);
  --sp-header-height: 6.6rem;
}

// ---------- ライトモード ----------
.light-mode {
  --border: rgba($const-black, 0.5);
  --bg: #f9f9f9;
  --bg-body: #ffffff;
  --placeholder: #cccccc;
  --text: var(--black);
  --primary: #38a576;
}
