{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "at-rule-no-unknown": null,
    "selector-class-pattern": null,
    "function-no-unknown": null,
    "property-no-vendor-prefix": null
  },
  "ignoreFiles": ["node_modules/**/.css", "dist/**/.css", "public/**/*.css"]
}
