@use '../../styles/variables' as *;

.toggleThemeButton {
  align-items: center;
  background-color: var(--bg-body);
  border-radius: 10rem;
  color: var(--white);
  cursor: pointer;
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  margin: 0 auto;
  padding: 0.8rem 2.4rem;
  width: fit-content;


  .toggleThemeButtonIcon {
    opacity: .3;

    &.toggleThemeButtonIcon__active {
      opacity: 1;
    }

    &.isDark {
      svg {
        fill: var(--black);
      }
    }
  }
}
