@charset "utf-8";
@use '/styles/_variables.scss';

.input {
  display: none;
}

.label {
  position: relative;
  padding: 5px 30px;
  color: variables.$white-first-color;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.09px;
  user-select: none;
  cursor: pointer;
}

.label::after,
.label::before {
  position: absolute;
  top: 50%;
  content: '';
}

.label::before {
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -11px;
  border: 2px solid variables.$green-first-color;
  border-radius: 5px;
}

.label::after {
  top: 50%;
  left: 7px;
  width: 4px;
  height: 9px;
  margin-top: -8px;
  border-right: 2px solid variables.$green-first-color;
  border-bottom: 2px solid variables.$green-first-color;
  transform: rotate(45deg);
  opacity: 0;
}

.input:checked + .label::after {
  opacity: 1;
}
