.sidebarItem {
  .sidebarItemText {
    align-items: center;
    border-radius: 0.6rem;
    display: flex;
    gap: 0.8rem;
    padding: 0.8rem;
    padding-left: 4rem;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      left: 0;
      position: absolute;
      top: 0;
      transform: translate();
    }

    &:hover,
    &.sidebarItemText__active {
      background-color: var(--primary);
      cursor: pointer;
    }

    &.sidebarItemText__active {
      color: var(--white);

      .sidebarItemTextIcon__menu {
        fill: var(--white);
      }

      .sidebarItemTextIcon__arrow {
        transform: rotate(-180deg);

      }

      path {
        fill: var(--white);
      }
    }
  }

  .sidebarItemTextIcon {
    aspect-ratio: 1;
    padding-inline-end: none;
    width: 2.4rem;

    &.sidebarItemTextIcon__menu {
      left: 0.8rem;
      position: absolute;
      top: 0.8rem;
    }

    &.sidebarItemTextIcon__arrow {
      margin-left: auto;
    }
  }

  .sidebarListChildren {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 0.8rem;
    padding: 0.8rem;
    padding-left: 4rem;
  }

  .sidebarListChildrenItemLink {
    &:hover {
      color: var(--primary);
      font-weight: 600;
    }
  }
}
