/* Element: editPageContainer */
.container {
  background-color: #ffffff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem clamp(2.4rem, 8vw, 8.1rem);
}

.formFlexBox {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* Element: formGroup */
.formGroup {
  border-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;

  .nameField {
    width: 49%;
  }
}

/* Element: addressInputGroup */
.addressInputGroup {
  border-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

/* Block: ActionButtonWrapper */
.ActionButtonWrapper {
  display: flex;
  gap: 1.6rem;
  justify-content: right;
}

/* Element: submitButton */
.submitButton {
  width: 20.7rem;
}
