/* Block: ProductDisplayLayout */
.ProductDisplayLayout {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* Element: productName */
.productName {
  color: #00000066;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 2.24rem */
}

/* Block: Chapter */
.Chapter {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
}

/* Element: chapterTopic */
.chapterTopic {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 2.56rem */
  margin: 0;
}

/* Block: CheckButtonWrapper */
.CheckButtonWrapper {
  display: flex;
  justify-content: center;
}

/* Element: addButton */
.addButton {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10rem;
  border-style: none;
  color: #000000d9;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  padding: 0.8rem 1.2rem;
  width: 34.3rem;
}
