@use './_variables.scss';

.loading {
  width: 100vw;
  height: 100vh;
  background-color: variables.$main-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;

  &-title {
    font-family: variables.$yeseva;
    width: 400;
    font-size: 30px;
    line-height: 34.65px;
    color: #fff;
  }
}

.loading-hide {
  opacity: 0;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  background: linear-gradient(to right, #fff 10%, rgb(255 255 255 / 0%) 42%);
  background: linear-gradient(to right, #fff 10%, rgb(255 255 255 / 0%) 42%);
  background: linear-gradient(to right, #fff 10%, rgb(255 255 255 / 0%) 42%);
  background: linear-gradient(to right, #fff 10%, rgb(255 255 255 / 0%) 42%);
  background: linear-gradient(to right, #fff 10%, rgb(255 255 255 / 0%) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader::before {
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 100% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader::after {
  background: variables.$main-color;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  inset: 0;
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
