/*
  カラー定義
*/
$black-first-color: #141c23;
$black-second-color: #222d35;
$black-third-color: #2f3e46;
$green-first-color: #38a576;
$white-first-color: #f2f2f2;

/*
  フォント定義
*/
$default-font-family: 'Roboto';

/*
  TODO: 参照が残っているため一旦残す
*/
$header-height: 100px;
$main-color: #073061;
$main-size: 16px;
$sans: 'Noto Sans JP', sans-serif;
$serif: 'Noto Serif JP', serif;
$yeseva: 'Yeseva One', cursive;
