@charset "utf-8";
@use 'styles/_variables.scss';

$container-width: 462px;

.container {
  position: absolute;
  top: 15%;
  left: calc(50% - $container-width / 2);
  width: $container-width;
}

.title {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 9px;
}

.horseName {
  width: $container-width - 18px;
  margin-top: 20px;
}

.loginBtn {
  width: 100%;
  margin-top: 34px;
  margin-bottom: 34px;
}
