@charset "utf-8";
@use 'styles/_variables.scss';

$container-width: 100%;

.container {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $container-width;
  background: variables.$black-second-color;
}

.header {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  align-self: flex-start;
}

.title {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 10px;
}

.horseRegist {
  font-size: 32px;
  font-weight: 700;
}

.horseRegistCaption {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.horseName {
  width: $container-width - 10%;
  margin-top: 20px;
}

.containerWeightHeight {
  display: flex;
  justify-content: space-between;
  width: $container-width - 10%;
  margin-top: 20px;
}

.horseWeight {
  width: 100%;
  margin-right: 20px;
}

.horseHeight {
  width: 100%;
  margin-left: 20px;
}

.containerKind {
  display: flex;
  justify-content: space-between;
  width: $container-width - 60%;
  margin-top: 20px;
  margin-left: 40px;
  align-self: flex-start;
}

.birthday {
  width: $container-width - 10%;
  margin-top: 20px;
}

.kind {
  width: $container-width - 10%;
  margin-top: 20px;
}

.hairColor {
  width: $container-width - 10%;
  margin-top: 20px;
}

.footerBtn {
  display: flex;
  justify-content: space-between;
  width: $container-width - 10%;
  margin-top: 34px;
  margin-bottom: 34px;
}
