@charset "utf-8";
@use 'styles/_variables.scss';

.container {
  position: relative;

  .label {
    position: absolute;
    top: -4px; /* ラベルの位置を調整 */
    left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: variables.$white-first-color;
    background: variables.$black-second-color;
  }

  .input {
    height: 56px;
    width: 100%;
    padding-left: 14px;
    color: variables.$white-first-color;
    background: variables.$black-second-color;
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 4px;
    font-size: 14px;

    &::placeholder {
      color: variables.$white-first-color;
      opacity: 0.25;
    }

    /* ホバー時のスタイルは暫定 */
    &:hover {
      border: 1px solid rgb(255 255 255 / 80%);
    }
  }
}
