@charset "utf-8";

@use 'sanitize.css/sanitize';

*,
*::before,
*::after {
  max-width: 100%;
}

html {
  font-size: 62.5%; // 1.0rem = 10px
}

html,
body,
#root {
  background-color: #f2efe6;
  height: 100%;
  overflow: hidden scroll;
  width: 100%;
}
