@charset "utf-8";

.container {
  display: flex;
  padding-top: 15px;
  padding-left: 24px;
  align-items: center;
}

.seachBox {
  width: 100%;
  margin-right: 120px;
}

.icon {
  margin: 0 18px;
}

.profile {
  margin-left: 5px;
}
