// NOTE: このFigmaファイルに基づき命名しています。 https://www.figma.com/design/y34UHiVwomaZr4CjXE92jf/YOMcoma-%E8%89%B2%EF%BC%8B%E3%82%BF%E3%82%A4%E3%83%9D%EF%BC%8B%E3%82%B3%E3%83%B3%E3%83%9D%E3%83%BC%E3%83%8D%E3%83%B3%E3%83%88?m=dev&node-id=2-38

$secondary-white: #ffffff;

$primary-brand-color: #f2efe6;

$secondary-black: #000000d9;
$secondary-white: #ffffff;
$secondary-gray: #0000000d;

$action-favorite: #ff8a8a;
$action-follow: #ffc700;
$action-continue: #6581ca;

$base-subtext-gray: #00000066;
$base-border-icon: #00000033;
$base-sub-icon-gray: #a6a6a6;

$background-mobile: #f2efe6;
$background-pc: #ffffff;

$alert-notification: #cb3030;

$link-text: #4192e7;

$graphic-green: #9acc89;

// Primary colorです。
$primary-color: $primary-brand-color;

// Secondary Colorは、Black/White/Grayの３色です
$secondary-colors: (
  black: $secondary-black,
  white: $secondary-white,
  gray: $secondary-gray,
);

// Action Colorは３色です
$action-colors: (
  favorite: $action-favorite,
  follow: $action-follow,
  continue: $action-continue,
);

// Base Colorは2色です
$base-colors: (
  subtext: $base-subtext-gray,
  border-icon: $base-border-icon,
  sub-icon-gray: $base-sub-icon-gray,
);

// 背景色です
$background-colors: (
  mobile: $background-mobile,
  pc: $background-pc,
);

// エラー色です
$alert-colors: (
  notification: $alert-notification,
);

// リンク色です
$link-colors: (
  text-link: $link-text,
);

// イラスト等に使う色です
$graphic-colors: (
  green: $graphic-green,
);
