.accordionTrigger {
  display: block;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordionContent.open {
  max-height: 1000px;
  overflow: 'hidden';
  transition: 'max-height 0.3s ease';
}
